<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nume</th>
        <th scope="col">Prenume</th>
        <th scope="col">Data Nasterii</th>
        <th scope="col">Sex</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of dataReceived">
        <td>{{ patient.fristName }}</td>
        <td>{{ patient.secondName }}</td>
        <td>{{ patient.birthDate }}</td>
        <td>{{ patient.Sex}}</td>
        <td>buton</td>
        <td>buton</td>
      </tr>
    </tbody>
  </table>